h1 {
text-align: center;
font-family: cursive;
}


#menu{
display: flex;
justify-content: center;


}


#motivo-de-criacao {
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
   
}

#motivo-de-criacao::after {
    padding-left: 15px;
    content: "|";
}

#creditos {

text-decoration: none;

}

#creditos::after {
    padding-left: 15px;
    content: "|";
}

a {
    text-decoration: none;
    margin-right: 15px;
}



div.labubu-um {

display: flex;
flex-direction: column;
width: 225px;
padding-right: 50px;
margin-bottom: 20px;
}

div.labubu-dois {
  display: flex;
flex-direction: column;
width: 225px;
padding-right: 50px;
margin-bottom: 20px;
}
#container {
    display: flex;
    flex-direction: row;
position: relative;
right: -15px;
background-color: rgb(255, 255, 255);
padding: 40px;
height: 80vh;
width: 512px;
border-radius: 14px;
justify-self: center;

}

button {
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    height: 20px;
    align-self: center;
}

button:hover {
    transform: scale(1.2);
    transition: 1s;
}

.labubu-tres {
      display: flex;
flex-direction: column;
width: 225px;
padding-right: 50px;
margin-bottom: 20px;
position: relative;
bottom: -275px;
left: -275px;
height: 100px;
}

